extends layout

block content
    div(style="display:none;")
        img(src="/images/ThatYeLook.png" id="imgLook")
        img(src="/images/ThatYeStare.png" id="imgStare")
    form(class="inputForm")
        input(type="text" name="xPos" placeholder="x" value="0")
        input(type="text" name="yPos" placeholder="y" value="0")
        button(type="button" name="input").
            Submit
    canvas(id="canvas" class="canvas")
