* {
    padding: 0;
    margin: 0;
}


html, body {
    width: 100%;
    height: 100%;
}

.canvas {
    width: 100%;
    height: 100%;
    background-color: gray;
}

.inputForm {
    position: absolute;
    margin-left: 15px;
    margin-top: 15px;
}

.inputForm input {
    display: block;
}

.inputForm button {
    display: block;
}